.ProjectModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #33333392;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .project-info-container {
    text-align: center;
  }

  .project-links {
    margin-top: 1rem;
    
    a {
      text-decoration: underline;
    }
  }

  .project-text {
    width: 80%;
    margin: 0 auto;
    font-weight: 200;
  }
  
  .heading {
    margin-bottom: 1.5rem;
    text-decoration: 3px solid var(--accent-color) underline;
  }

  .scroll-images {
    height: 85vh;
    padding: 3rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    gap: 1.5rem;
    width: 90%;
    align-items: center;
    background-color: #4e4e4e;
  }

  .modal-img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: 1rem;
  }

  button {
    padding: .5rem 1rem;
    margin-top: 1rem;
    border: transparent;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    cursor: pointer;
    width: 50%;
    font-size: 1.3rem;
    background-color: var(--accent-color);
    color: white;
    text-transform: uppercase;
  }
}

.ProjectModalLightTheme {
  .scroll-images {
    background-color: white;
    color: black;

    a {
      color: #333;
      /* text-decoration: 1px solid var(--primary-pink-two) underline; */
    }
  }

  button {
    background-color: var(--primary-pink-two);
    color: white;
  }

  .heading {
    margin-bottom: 1.5rem;
    text-decoration: 3px solid var(--primary-pink-two) underline;
  }

  .modal-img {
    box-shadow: 3px 3px 7px rgb(169, 169, 169); 
  }
}