.Footer{
  background-color: #282828;

  .width-wrapper-footer {
    display: flex;
    justify-content: space-between;
    padding-block: 2rem;
    align-items: center;
  }
  
  .footer-arrow{
    cursor: pointer;
    color: white;
    font-size: 2rem;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .png-link{
    font-size: .6rem;
    font-weight: 200;
  }
}

.FooterLightTheme {
  margin-top: 0;
  background-color: white;
  background-color: var(--fifth-pink);
  color: #333;

  .png-link a {
    color: #333;
  }
}

@media screen and (max-width: 768px) { 
  .png-link{
    display: none;
  }
}
