.Card {
    width: 120px;
    background-color: white;
    height: 150px;
    height: 9rem;
    color: black;
}

.chosen {
  border: 3px solid green;
}

.prel {
  border: 3px solid yellow;
}

.selected {
  border: 3px solid blue;
}

.hej {
  border: 3px solid purple;
}